/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/_co-pilot_docs
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.local
.phpunit.result.cache
.DS_Store
public/livewire-tmp/
public/avatars/
public/uploads/admin/schooldetails/*
!public/uploads/admin/schooldetails/index.html

public/uploads/admin/notice/*
!public/uploads/admin/notice/index.html

public/uploads/admin/Images/*
!public/uploads/admin/Images/index.html

public/uploads/admin/send_mail/*
!public/uploads/admin/send_mail/index.html

public/uploads/audio/*
!public/uploads/audio/index.html

public/uploads/admin/student/*
!public/uploads/admin/student/index.html

public/uploads/purify/*
!public/uploads/purify/index.html

public/uploads/photos/*
!public/uploads/photos/index.html

public/uploads/admin/gallery/*
!public/uploads/admin/gallery/index.html

public/uploads/admin/files/*
!public/uploads/admin/files/index.html

public/uploads/admin/bulletins/*
!public/uploads/admin/bulletins/index.html

public/uploads/sermons/*
!public/uploads/sermons/index.html

public/uploads/admin/groups/*
!public/uploads/admin/groups/index.html

public/uploads/admin/event/*
!public/uploads/admin/event/index.html

public/uploads/admin/member/*
!public/uploads/admin/member/index.html

public/uploads/admin/preacher/*
!public/uploads/admin/preacher/index.html

public/uploads/admin/quotes/*
!public/uploads/admin/quotes/index.html

public/uploads/avatars/*
!public/uploads/avatars/index.html

public/uploads/export/*
!public/uploads/export/index.html

public/uploads/files/*
!public/uploads/files/index.html

public/uploads/admin/teacher/*
!public/uploads/admin/teacher/index.html

public/uploads/marks*
!public/uploads/marks/index.html

public/uploads/promotion*
!public/uploads/promotion/index.html

public/uploads/admin/discipline*
!public/uploads/admin/discipline/index.html

public/uploads/admin/homework/*
!public/uploads/admin/homework/index.html

public/uploads/teacher/*
!public/uploads/teacher/index.html

public/uploads/student/*
!public/uploads/student/index.html


public/uploads/reports/*
!public/uploads/reports/index.html.vapor/
.env.production
.env.staging
/.vapor
.vapor/*
composer.lock
